@model IList<DataModelLayer.ProductWishlist>
@{
    ViewBag.Title = "ViewWishlist";
    Layout = "~/Views/Users/_Layout.cshtml";
}

<h2>Wishlist</h2>
<hr />
@if (!Model.Any())
{
    <h3>No items in the wishlist</h3>
}
else
{
    <table id="Wishlist" class="table table-bordered">
        <thead>

        <tr>
            <th>Product Image</th>
            <th>Product Name</th>
            <th>Product Description</th>
            <th>Remove Product</th>
            <th>Add to cart</th>
        </tr>
        </thead>
        <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@Url.Content(item.Product.ProductImage)" class="img-thumbnail" style="width:200px; height:200px;" />
                </td>
                <td>
                    @item.Product.ProductName
                </td>
                <td>
                    @item.Product.ProductDescription
                </td>
                <td>
                    <a style="margin-top:40px; margin-left:25px;" class="btn btn-primary" href="@Url.Action("RemoveItemById","Wishlist",item.Product)">Remove</a>
                </td>
                <td>
                    <a href="@Url.Action("AddToCart", "Cart", item.Product)" id="cart"
                       class="glyphicon glyphicon-shopping-cart"
                       style="margin:30px; color:Black;">
                        <i class="bi bi-cart-plus"></i> @item.Product.ProductPrice.ToString("c")
                    </a>
                </td>

            </tr>
        }
        </tbody>

    </table>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            $('#Wishlist').DataTable()
           
        });
    </script>
}

