@model UserInterface.ViewModel.OrderTableViewModel
@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Users/_Layout.cshtml";
}
<h2>Orders</h2>
<hr />
<h2>Pending Orders</h2>
<div>
    <table id="orderTable1" class="table table-bordered table-hover">
        <thead>

            <tr>
                <th>Product Name</th>
                <th>Product Description</th>
                <th>Product Price</th>
                <th>Order Date</th>
                <th>Custmer Address</th>
                <th>Order Size</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model.ProductPending)
            {
                <tr>
                    <td>@order.Product.ProductName</td>
                    <td>@order.Product.ProductDescription</td>
                    <td>Rs. @order.Product.ProductPrice/-</td>
                    <td>@order.OrderDate.Date.ToString("dd-MM-yyyy")</td>
                    <td>@order.CustomerAddress</td>
                    <td>@order.Size</td>



                </tr>

            }
        </tbody>

    </table>
</div>

<hr />
<br />
<h2>Delivered Orders</h2>
<div>
    <table id="orderTable4" class="table table-bordered table-hover">
        <thead>

            <tr>
                <th>Product Name</th>
                <th>Product Description</th>
                <th>Product Price</th>
                <th>Order Date</th>
                <th>Custmer Address</th>
                <th>Order Size</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model.ProductSuccessDelivered)
            {
                <tr>
                    <td>@order.Product.ProductName</td>
                    <td>@order.Product.ProductDescription</td>
                    <td>Rs. @order.Product.ProductPrice/-</td>
                    <td>@order.OrderDetail.OrderDate.Date.ToString("dd-MM-yyyy")</td>
                    <td>@order.OrderDetail.DeliveryAddress</td>
                    <td>@order.OrderDetail.Size</td>



                </tr>

            }
        </tbody>

    </table>
</div>

<hr />
<br />
<h2>Confirmed Orders</h2>
<div>
    <table id="orderTable2" class="table table-bordered table-hover">
        <thead>

            <tr>
                <th>Product Name</th>
                <th>Product Description</th>
                <th>Product Price</th>
                <th>Order Date</th>
                <th>Custmer Address</th>
                <th>Order Size</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model.ProductConfirm)
            {
                <tr>
                    <td>@order.Product.ProductName</td>
                    <td>@order.Product.ProductDescription</td>
                    <td>Rs. @order.Product.ProductPrice/-</td>
                    <td>@order.OrderDetail.OrderDate.Date.ToString("dd-MM-yyyy")</td>
                    <td>@order.OrderDetail.DeliveryAddress</td>
                    <td>@order.OrderDetail.Size</td>



                </tr>

            }
        </tbody>

    </table>
</div>

<hr />
<br />
<h2>Canceled Orders</h2>
<div>
    <table id="orderTable3" class="table table-bordered table-hover">
        <thead>

            <tr>
                <th>Product Name</th>
                <th>Product Description</th>
                <th>Product Price</th>
                <th>Order Date</th>
                <th>Custmer Address</th>
                <th>Order Size</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model.ProductCancel)
            {
                <tr>
                    <td>@order.Product.ProductName</td>
                    <td>@order.Product.ProductDescription</td>
                    <td>Rs. @order.Product.ProductPrice/-</td>
                    <td>@order.OrderDate.Date.ToString("dd-MM-yyyy")</td>
                    <td>@order.CustomerAddress</td>
                    <td>@order.Size</td>



                </tr>

            }
        </tbody>

    </table>
</div>


@section scripts
{
    <script>
        $(document).ready(function () {

            $('#orderTable1 ').DataTable()
            $('#orderTable2 ').DataTable()
            $('#orderTable3 ').DataTable()
            $('#orderTable4 ').DataTable()
        });
    </script>
}
